@keyframes beat-fade {
    0%, 100% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.6;
        transform: scale(1.1);
    }
}

/* body {
    background-color: #2B2D42;
} */

.md-header {
    background-image: linear-gradient(to right, #2B2D42, #2B2D42) !important;
    backdrop-filter: blur(10px);
}

.md-header__button.md-logo {
    /* color: #2B2D42; */
    font-size: 1.125em;
    animation: beat-fade 1s infinite;
}


@media screen and (max-width: 76.1875em) {
    .md-header__title {
        font-size: 1.2rem;
    }
    
    .md-header__button.md-logo {
        display: none;
    }
}


/* Style links with a hover effect */
a {
    /* color: #EF233C; */
    text-decoration: none;
    transition: color 0.3s ease;
}


/* Add a box shadow to cards */
.grid.cards > div {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid.cards > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/* Add a subtle animation to headers */
h1, h2, h3, h4, h5, h6 {
    animation: fadeIn 1.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
